# Ignore compiled Lua files
*.luac

# Ignore LuaRocks rocks and dependencies
lib/luarocks/
lua_modules/

# Ignore Windows executables and batch files
*.exe
*.bat

# Ignore build folders or exported zips
dist/
build/
*.zip

# Ignore VSCode project settings
.vscode/
*.code-workspace

# Ignore temp files
*.tmp
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
