# Ignore compiled Lua files
*.luac

# Ignore build folders or exported zips
dist/
build/
*.zip

# Ignore VSCode project settings
.vscode/
*.code-workspace

# Ignore temp files
*.tmp
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

config/path
